{% extends 'mainapp/base.html' %}
{% block content%}
<div class="container text-center">
    <div class="col-md-6 text-center">
        <div class="card mb-2 box-shadow">
            <div class="card-header">
                <h4><font color= 'green'> Восстановление пароля<font></h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                <h5><font color= 'blue'>Укажите ваш email<font></h5>
                <form method="post">
                    {% csrf_token %}
                    <input class="form-control mb-2" name="email"/>
                    <button type="submit" class=" mb-2 btn btn-primary form-control">Восстановить пароль</button>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}