{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Хотите удалить статью "{{ object.header }}"?</p>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-danger">
                                Подтвердить
                                </button>
                                <a href="{% url 'blogapp:list' %}" type="button"
                                   class="btn btn-outline-warning">Назад</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}